/* Here is your custom css styles. */

/* 修改首页轮播的标题大小 */
@media only screen and (max-width: 601px) {
    .bg-cover .title {
        font-size: 2.5rem;
    }
}

/* 修改博客标题的字体大小 */
@media only screen and (max-width: 601px) {
    header .brand-logo .logo-span {
        font-size: 1.5rem;
    }
}

/* 深色模式按钮设置 */ 
#sma { 
    background: #000; 
    width: 48px; 
    height: 48px; 
    display: block; 
    position: fixed; 
    border-radius: 50%; 
    right: 15px; 
    bottom: 193px; 
    padding-top: 15px; 
    margin-bottom: 0; 
    z-index: 998; 
    cursor: pointer; 
} 
#sma .fa-moon-o { 
    position: absolute; 
    right: 13px; 
    bottom: 12px; 
    font-size: 
    1.48rem!important; 
} 
#sma .fa-lightbulb-o { 
    position: absolute; 
    right: 13px; 
    bottom: 8px; 
    font-size: 1.5rem!important; 
} 
.fa-moon-o:before { 
    content: "\f186"; 
} 
.fa-comments:before { 
    content: "\f086"; 
}